<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/fragments_admin :: head(~{::title})">
    <title>博客管理</title>
</head>

<body>
<!-- 引入导航栏 -->
<nav th:replace="commons/fragments_admin :: menu(0)"></nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success large  message">
            <h3>Hi,</h3>
            <p><span th:text="${user.nickname}"></span>，欢迎登录~</p>
        </div>
        <img th:src="@{${user.avatar}}" alt="" class="ui rounded bordered fluid image">
    </div>
</div>

<br><br>
<!-- 引入底部footer -->
<footer th:replace="commons/fragments_admin :: footer"></footer>

<!-- 引入js -->
<th:block th:replace="commons/fragments_admin :: script"></th:block>
</body>
</html>