<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/fragments :: head(~{::title})">
    <title>错误</title>
</head>

<body>

<br><br><br><br>
<div class="m-container-small m-padded-tb-massive">
    <div class="ui error message m-padded-tb-huge" >
        <div class="ui contianer">
            <h2>错误！</h2>
            <p>对不起，服务异常，请联系管理员</p>
        </div>
    </div>
</div>
<br><br><br><br><br>

<!-- 引入js -->
<th:block th:replace="commons/fragments :: script"></th:block>
</body>
</html>