<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/fragments :: head(~{::title})">
    <title>关于我</title>
</head>

<body>
<!-- 引入导航栏 -->
<nav th:replace="commons/fragments :: menu(5)"></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <!-- 个人照 -->
            <div class="ten wide column">
                <div class="ui segment">
                    <img src="../images/avatar.jpg" class="ui rounded image">
                </div>
            </div>
            <div class="six wide column">
                <!-- 个人简介 -->
                <div class="ui top attached segment">
                    <div class="ui header">个人简介</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">我是一个折腾在 0 和 1 世界的青年小伙，一个热衷于学习的程序员，希望结识可以共同成长的小伙伴。</p>
                    <p class="m-text">我热爱编程，喜欢折腾，正在探索高效学习编程技术的方法...</p>
                </div>

                <div class="ui top attached segment">
                    <div class="ui header">喜欢</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">编程</div>
                    <div class="ui orange basic left pointing label">跑步</div>
                    <div class="ui orange basic left pointing label">轮滑</div>
                </div>

                <div class="ui top attached segment">
                    <div class="ui header">联系我</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="https://github.com/huidu100526" target="_blank" class="ui circular icon button">
                        <i class="github icon"></i>
                    </a>
                    <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1436249455" data-position="bottom center">
                        <i class="qq icon"></i>
                    </a>
                    <a href="#" class="ui phone circular icon button" data-content="13073023095" data-position="bottom center">
                        <i class="phone icon"></i>
                    </a>
                </div>
                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="../images/wechat.jpg" class="ui rounded image" style="width: 110px">
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<!-- 引入底部footer -->
<footer th:replace="commons/fragments :: footer"></footer>

<!-- 引入js -->
<th:block th:replace="commons/fragments :: script"></th:block>

<script>
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'bottom center'
    });

    $('.qq').popup();
    $('.phone').popup();
</script>
</body>
</html>