<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="commons/fragments :: head(~{::title})">
    <title th:text="${blog.title}"></title>
</head>

<body>
<!-- 引入导航栏 -->
<nav th:replace="commons/fragments :: menu(1)"></nav>

<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-big animated">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <!-- 头像 -->
                    <img th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                    <!-- 昵称 -->
                    <div class="content"><a href="#" class="header" th:target="${blog.user.nickname}"></a></div>
                </div>
                <!-- 更新日期 -->
                <div class="item">
                    <i class="calendar icon"></i> 更新日期：
                    <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}"></span>
                </div>
                <!-- 阅读量 -->
                <div class="item">
                    <i class="eye icon"></i> 浏览次数：
                    <span th:text="${blog.views}"></span>
                </div>
            </div>
        </div>
        <!-- 首页图片 -->
        <div class="ui attached segment">
            <img th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image">
        </div>
        <!-- 文章内容 -->
        <div class="ui attached padded segment">
            <!-- 所属标记 -->
            <div class="ui aligned basic segment">
                <div class="ui orange label m-padded-small" th:text="${blog.flag}"></div>
            </div>
            <!-- 标题 -->
            <h2 class="ui center aligned header" th:text="${blog.title}"></h2>
            <!-- 文章内容 -->
            <div id="content" th:utext="${blog.content}" class="typo typo-selection js-toc-content m-padded-lr-responsive m-padded-tb-large"></div>
            <!-- 所属标签 -->
            <div class="m-padded-lr-responsive">
                <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}"></div>
            </div>
            <!-- 喜欢、赞赏 -->
            <div th:if="${blog.appreciation}">
                <div class="ui center aligned basic segment">
                    <div class="ui labeled button">
                        <a id="like-btn" class="circular ui button" th:classappend="${userLike} ? 'red'"><i class="heart icon"></i> 喜欢 </a>
                        <div id="likes" class="circular ui basic left pointing label" th:classappend="${userLike} ? 'red'" th:text="${blog.likes}"></div>
                    </div>
                    <button id="payButton" class="ui orange basic circular button">赞赏</button>
                </div>
                <div class="ui payQR flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <h4>你的赏识是我前进的动力</h4>
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img th:src="@{/images/zfbpay.jpg}" alt="" class="ui rounded bordered image" style="width: 120px">
                                <div>支付宝</div>
                            </div>
                            <div class="image">
                                <img th:src="@{/images/weixinpay.jpg}" alt="" class="ui rounded bordered image" style="width: 120px">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 博客编写信息 -->
        <div class="ui attached positive message" th:if="${blog.shareStatement}">
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li>作者：<span th:text="${blog.user.nickname}"></span><a href="#" th:href="@{/aboutme}">（联系作者）</a></li>
                        <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}"></span></li>
                        <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                        <li>公众号转载：请在文末添加作者公众号二维码</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img th:src="@{/images/wechat.jpg}" alt="" class="ui right floated rounded bordered image" style="width: 110px">
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment" th:if="${blog.commentabled}">
            <!-- 留言列表区域 -->
            <div id="comment-container" class="ui teal segment">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">评论</h3>
                        <!-- 父级评论区 -->
                        <div class="comment" th:each="comment : ${comments}">
                            <!-- 头像 -->
                            <a class="avatar">
                                <img th:src="@{${comment.user.avatar}}">
                            </a>
                            <div class="content">
                                <!-- 评论人 -->
                                <a class="author">
                                    <span th:text="${comment.user.nickname}"></span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${comment.adminComment}">博主</div>
                                </a>
                                <!-- 评论时间 -->
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                                <!-- 评论内容 -->
                                <div class="text" th:text="${comment.content}"></div>
                                <div class="actions" sec:authorize="isAuthenticated()">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.user.nickname}" onclick="reply(this)">回复</a>
                                </div>
                            </div>
                            <!-- 回复评论区 -->
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                    <!-- 头像 -->
                                    <a class="avatar">
                                        <img th:src="@{${reply.user.avatar}}">
                                    </a>
                                    <div class="content">
                                        <!-- 回复评论人 -->
                                        <a class="author" >
                                            <span th:text="${reply.user.nickname}"></span>
                                            <div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}">博主</div>
                                            &nbsp;<span th:text="|@ ${reply.parentComment.user.nickname}|" class="m-teal"></span>
                                        </a>
                                        <!-- 回复评论时间 -->
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}"></span>
                                        </div>
                                        <!-- 回复评论内容 -->
                                        <div class="text" th:text="${reply.content}"></div>
                                        <div class="actions" sec:authorize="isAuthenticated()">
                                            <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.user.nickname}" onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 留言回复框 -->
            <div id="comment-form" class="ui form">
                <input type="hidden" id="blogId" name="blogId" th:value="${blog.id}">
                <input type="hidden" id="parentCommentId" name="parentCommentId" value="-1">
                <!-- 未登陆 -->
                <div class="field" sec:authorize="!isAuthenticated()">
                    <div>
                        <span>登陆后才可以发表评论呦</span>
                        <a th:href="@{/login}" class="ui red basic button m-padded-small">去登录</a>
                    </div>
                </div>
                <!-- 登陆后显示 -->
                <div class="field" sec:authorize="isAuthenticated()">
                    <textarea id="commentInfo" name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields" sec:authorize="isAuthenticated()">
                    <div class="field  m-margin-bottom-small m-mobile-wide">
                        <button id="comment-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i> 提交评论 </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 目录、回到顶部工具栏 -->
<div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
    <div class="ui vertical icon buttons">
        <button type="button" class="ui toc teal button">目录</button>
        <a href="#comment-form" class="ui teal button">评论</a>
        <button class="ui wechat icon button"><i class="weixin icon"></i></button>
        <div id="toTop-button" class="ui icon button"><i class="chevron up icon"></i></div>
    </div>
</div>
<!-- 生成目录的div -->
<div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
    <ol class="js-toc"></ol>
</div>
<!-- 生成的二维码位置 -->
<div id="qrcode" class="ui wechat-qr flowing popup transition hidden" style="width: 130px !important;"></div>
<br><br>

<!-- 引入底部footer -->
<footer th:replace="commons/fragments :: footer"></footer>

<!-- 引入js -->
<th:block th:replace="commons/fragments :: script"></th:block>

<script th:inline="javascript">
    // 初始化layer
    var layer;
    layui.use('layer', function(){
        layer = layui.layer;
    });

    // 赞赏按钮
    $('#payButton').popup({
        popup: $('.payQR.popup'),
        on: 'click',
        position: 'bottom center'
    });

    // 目录显示
    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });

    // 微信显示
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'left center'
    });

    // 点击回到顶部，设置间隔时间
    $(document).on("click", "#toTop-button", function () {
        $(window).scrollTo(0, 600);
    });

    // 初始化滚动侦测插件（在顶部隐藏）
    var waypoint;
    waypoint = new Waypoint({
        // waypoint是被侦测的部分，当此部分到顶时隐藏toolbar
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction === 'down') {
                $('#toolbar').show(100);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint! ' + direction);
        }
    });

    // 初始化目录生成插件
    var tocbot;
    tocbot.init({
        // 显示目录的区域
        tocSelector: '.js-toc',
        // 生成目录的源，用什么来生成目录
        contentSelector: '.js-toc-content',
        // 生成目录的标题级别
        headingSelector: 'h1, h2, h3'
    });

    // 初始化二维码生成插件
    var qrcode;
    var serurl = "127.0.0.1:8080";
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    qrcode = new QRCode("qrcode", {
        // 扫码后获取的文章内容
        text: serurl + url, // 对应文章的浏览地址，扫码后可在手机端查看
        width: 110,
        height: 110,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });

    // 点击喜欢
    $(document).on("click", "#like-btn", function () {
        var blogId = $("#blogId").val();
        $.ajax({
            url: "/blogLike",
            data: { blogId : blogId },
            dataType: "json",
            success: function (result) {
                console.log(result);
                if (result.code === 102) {
                    // 提示去登陆或直接跳转至登陆页面
                    layer.msg(result.message);
                } else if (result.code === 300) {
                    // 已经点赞过了
                    layer.msg(result.message);
                } else if (result.code === 301) {
                    // 设置点赞数和变红
                    $("#likes").text(result.data + 1).addClass("red");
                    $("#like-btn").addClass("red");
                }
            }
        });
    });

    // 初始加载评论信息
    $(function () {
        // 请求路径
        var url = /*[[@{/comments/{id}(id=${blog.id})}]]*/"";
        $("#comment-container").load(url);
    });

    // 提交评论
    $(document).on("click", "#comment-btn", function () {
        // 校验评论
        var boo = $('.ui.form').form('validate form');
        if (boo) {
            console.log('校验成功');
            postData();
        } else {
            console.log('校验失败');
        }
    });

    // 提交评论
    function postData() {
        $.ajax({
            url: "/comments",
            type: "POST",
            data: {
                parentCommentId: $("#parentCommentId").val(),
                blogId: $("#blogId").val(),
                content: $("#commentInfo").val()
            },
            success: function (result) {
                $("#comment-container").html(result);
                // 请求成功后，默认显示在评论第一条的位置，并将评论框内容清空
                $("#commentInfo").val('').attr("placeholder", "请输入评论信息...");
                // 将父评论的值设置-1
                $("#parentCommentId").val(-1);
            }
        });
    }

    // 点击回复事件
    function reply(obj) {
        // 获取commentid和commentnickname
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        // 定位至评论框，并设置滚动间隔
        $(window).scrollTo($('#comment-form'), 500);
        // 在评论框中默认显示要回复的人的昵称，并且光标聚焦
        $("#commentInfo").attr("placeholder", "@" + commentNickname).focus();
        // 设置评论id
        $("#parentCommentId").val(commentId);
    }

    // 评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }
                ]
            }
        }
    });
</script>
</body>
</html>