<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/fragments :: head(~{::title})">
    <title>标签</title>
</head>

<body>
<!-- 引入导航栏 -->
<nav th:replace="commons/fragments :: menu(3)"></nav>

<!--中间内容-->
<div id="waypoint" class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!-- 标签列表头部 -->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(tags)}"></h2> 个
                </div>
            </div>
        </div>
        <!-- 所属标签 -->
        <div class="ui attached segment m-padded-tb-large">
            <a th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing large label m-margin-tb-tiny" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${tags}">
                <span th:text="${tag.name}"></span>
                <div class="detail" th:text="${#arrays.length(tag.blogs)}"></div>
            </a>
        </div>
        <!-- 博客列表 -->
        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" th:each="blog : ${page.content}">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <!-- 标题 -->
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="m-black" th:text="${blog.title}"></a></h3>
                        <!-- 博客描述 -->
                        <p class="m-text" th:text="${blog.description}"></p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <!-- 头像 -->
                                            <img th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                            <!-- 昵称 -->
                                            <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}"></a></div>
                                        </div>
                                        <!-- 发布时间 -->
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}"></span>
                                        </div>
                                        <!-- 阅读量 -->
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- 所属分类 -->
                                <div class="right aligned five wide column">
                                    <a href="#" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}"></a>
                                </div>
                            </div>
                            <!-- 所属标签 -->
                            <div class="row">
                                <div class="column">
                                    <a th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing label m-padded-mini m-text-thin" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${blog.tags}" th:text="${tag.name}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 博客首图 -->
                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
                            <img th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 上下页 -->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 回到顶部 -->
<div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
    <div class="ui error vertical icon buttons">
        <div id="toTop-button" class="ui red icon button"><i class="chevron up icon"></i></div>
    </div>
</div>
<br><br>

<!-- 引入底部footer -->
<footer th:replace="commons/fragments :: footer"></footer>

<!-- 引入js -->
<th:block th:replace="commons/fragments :: script"></th:block>

<script>
    // 初始化滚动侦测插件（在顶部隐藏）
    var waypoint;
    waypoint = new Waypoint({
        // waypoint是被侦测的部分，当此部分到顶时隐藏toolbar
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction === 'down') {
                $('#toolbar').show(100);
            } else {
                $('#toolbar').hide(500);
            }
            console.log('Scrolled to waypoint! ' + direction);
        }
    });

    // 点击回到顶部，设置间隔时间
    $(document).on("click", "#toTop-button", function () {
        $(window).scrollTo(0, 600);
    });
</script>
</body>
</html>